<!DOCTYPE html>
<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Student Management System</h1>
  <p>Welcome to the student management system.</p>
  <nav>
    <a href="students/new">New student</a> |
    <a href="campus/new">New campus</a> |
    <a href="campus_student/new">Allocate students</a> |
    <a href="allocations">See allocations</a>
  </nav>
  <h3>Students</h3>
  <ul class="ul_gray">
    <% @students.each_with_index do |student,index| %>
      <%if index%2 == 0 %>
        <li class="li_green"><%= student['name'] %>, <%= student['age'] %></li>
      <%else%>
        <li class="li_blue"><%= student['name'] %>, <%= student['age'] %></li>
      <%end%>
    <% end %>
  </ul>
</body>
</html>