<!DOCTYPE html>
<html>
<head>
  <title>Create a New Student</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Student Management System</h1>
  <form action="/students" method="POST">
    <p>Name:<input type="text" name="name" placeholder="Name"></p>
    <p>Age:<input type="text" name="age" placeholder="Age"></p>
    <p><button type="submit">Save</button></p>
  </form>
</body>
</html>