<!DOCTYPE html>
<html>
<head>
  <title>List of Students' Details</title>
</head>
<body>
  <p>Student</p>
  <p>Name: <%= @student['name'] %></p>
  <p>Age: <%= @student['age'] %></p>
  <p>Campus: <%= @student['campus'] %></p>
</body>
</html>